[user]
    name = kryptn
    email = kryptn@gmail.com

[init]
    defaultBranch = main
[core]
    excludesFile = ~/.gitignore
    pager = delta
[diff]
    colorMoved = default

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true

[interactive]
    diffFilter = delta --color-only