[user]
    name = kryptn
    email = kryptn@gmail.com

[init]
    defaultBranch = main
[core]
    excludesFile = ~/.gitignore
    pager = delta
	editor = nvim
[diff]
    colorMoved = default

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true

[interactive]
    diffFilter = delta --color-only

[alias]
    unstage = restore --staged $1
    undo-commit = reset --soft HEAD~1
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
